.dropdownIcon {
  height: 15px;
  position: absolute;
  right: 1rem;
  top: 30%;
  transform: translateY(-50%);
  width: 15px;
}

.gender{
  background-color: #fff;
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 60%;
}

.genderContainer,
.dobContainer {
  position: relative;
  width: 100%;
}

.dobInput{
  width: calc(100% - 2.5rem - 20px);
}

.genderInput,
.dobInput {
  background-color: transparent;
  border: 1px solid #34343C;
  border-radius: 40px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 20px 20px 20px 2.5rem;
}

.genderInput{
  width: 100%;
}

.genderIcon {
  height: 20px;
  margin-left: 1rem;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 20px;
}

input::placeholder {
  color: #1e272F;
}

.signup {
  text-align: center;
  padding: 2rem 1rem;
}

.signupBtn {
  background-color: #34343C;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

.signupForm {
  margin: 2rem auto;
  width: 100%;
}