.nav-btn{
    align-self: self-end;
    background-color: #386fbb;
    border: none;
    border-radius: 30px;
    color: #fff;
    height: 43px;
    width: 152px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-links{
    align-items: flex-end;
    display: flex;
    gap: 20px;
}